
/* top bar */
.topber{
    background: #191919;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
}
.info{
    line-height: 0;
  color: rgba(255, 255, 255, 0.6);
}
.contact-info i {
    color: #cc1616;
    line-height: 0;
    margin-right: 5px;
  }
  .contact-info .phone-icon {
    margin-left: 15px;
  }
  .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  .social-links a:hover {
    color: #fff;
  }
  /* navbar */
  .navbar-nav a i,
  .navbar-nav a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav .active:focus,
.navbar-nav li:hover>a {
  background: #cc1616;
}
.navbar-nav a,
.navbar-nav a:focus{
    padding: 25px 15px 24px 15px;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
/*Hero Section*/
#hero {
    width: 100%;
    height: calc(100vh - 110px);
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  #hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
  }


/* About Section */
.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cc1616;
  }
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }  

  /*Why Us Section*/
  .why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ed5b5b;
  }
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #191919;
  }
  .why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  .why-us .box:hover {
    background: #cc1616;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  .why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}  
  
  